*{
  margin:0;
  scroll-behavior: smooth;
}
body{
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.1em;
  background-color: #F3F6F9;
  opacity:.8;
}
ul{
  padding:0;
  margin-top:10%;
}
#myTopnav{
  display: none;
}
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width:300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:#0B5351;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.1em;
  /* opacity: .9; */
}
/* The navigation menu links */
.sidenav a {
  padding: 5% 5% 5% 2%;
  margin:0 1em;
  text-decoration: none;
  font-size:3em;
  color: white;
  display: block;
}
.home1{
  height:100px;
  margin:5% 0 10% 0;
}

.sidenav a:nth-child(2){
  padding:0 0 20% 0;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color:#092327;
}
.sidenav li{
  list-style-type: none;
}
#dove{
  width:5.5em;
  margin: 2% 0 2% 8%;
  border-radius: 50em;
}
/* Style page content */
#main {
  margin-left: 300px; /* Same as the width of the sidebar */
  padding: 0;;
}
#home{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color:#0B5351;
  height: 72em;
  margin:0;
  opacity:1;
  background: url(images/IMG_1941.JPEG) no-repeat fixed;
  background-size:cover;
  background-position: top 40% center;
}
#mainLogo{
  font-size: 8em;
  color:#F3F6F9;
  opacity:0.9;
  font-family:'M Plus', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin:0;
  overflow: hidden;
  animation:appear 4s;
}
@keyframes appear{
  0%{opacity: 0;}
  20%{opacity: 1;}
  80%{opacity: 1;}
  100%{opacity: 0;}
}
#mainLogo::first-letter{
  color:#A66D00;
}
#subLogo{
  animation:reveal 4s;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#mainLogo2{
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  margin: 0 0 0 0;
  animation:slide 8s;
}
@keyframes reveal{
  0%{opacity: 0; width: 0px;}
  20%{opacity: 1; width: 0px;}
  30%{width: 655px;}
  80%{opacity: 1;}
  100%{opacity: 0; width: 655px;}
}
@keyframes slide{
  0%{margin-left:-800px;}
  20%{margin-left:-800px;}
  35%{margin-left:0px;}
100%{margin-left:0px;}
}
#logo{
  width:6%;
  border-radius: 5em;
}
#pricing, #rules, #committee, #contact{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3{
  color:white;
  font-size: 2rem;
  text-shadow: #A66D00 2px 4px 4px;
  text-align: center;
  margin:5% 0 0 0;
  text-transform: uppercase;
  letter-spacing: .05em;
  width:100%;
  font-weight: bolder;
}
h2{
  color:rgb(233, 231, 231);
  font-size: 1.75em;
  text-align: center;
  margin-top:2%;
  letter-spacing: 0.1em;
  width:30%;
  margin-bottom:1%;
}
#history{
  /* opacity:.8; */
  padding:0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#aboutHeading{
  margin: 7% 0 2% 0;
  color:#A66D00;
  font-size:2rem;
  text-shadow:none;
}
#aboutHeading::first-letter, #committeeHeading::first-letter{
  color:#0B5351
}
span{
  font-size:2rem;
  margin: 6% 0 3% 0;
}
#history img{
  width:50em;
  /* height:35em; */
  border-radius: 0.5em;
  float:right;
  margin: 0 0 0 5%;
}
#history video{
  float:right;
  margin: 0 0 0 5%;
}
.about{
  width:100%;
  font-size: 1.1rem;
  text-align:left;
  line-height: 1.5em;
  margin:1% 0 0 0;
  color:#092327;
  font-weight: bold;
}
.about a{
  color:#367588
}
#more {
  display: none;
}

button{
  /* border:2px solid #0B5351; */
  /* border-radius: 2em; */
  display: inline;
  background:transparent;
  font-size:1em;
  height:3em;
  width:8em;
  text-align: center;
  padding: 15px 25px;
  margin:4% 0 5% 0;
  cursor: pointer;
  border:none;
}
button:hover{
  background-color: #A66D00;
  border-color: #A66D00;
}
.readmore {
  color:white;
  font-size:1.75em;
  border:2px solid #0B5351;
  background-color: #0B5351;
  border-radius: .5em;
  height:3em;
  width:8.25em;
  text-align: center;
  padding: 15px 25px;
}
#address{
  display:flex;
  justify-content: center;
  align-items:center;
  background-color:#A66D00;
  color:white;
  padding:5%;
  opacity: 0.9;
}
#address h3{
  color:white;
  display: inline;
}
.mapouter1{
  display:none;
}
#quickLinks{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height:59em;
  margin-bottom: -14em;
}
.linkOut{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0;
}
.linkOut img{
  max-width:407px;
  height:450px;
  margin:0;
  
}
#pricingHeading{
  width:50%;
}
#pricing h3{
  width:100%;
}
#pricing h2{
  width:100%;
  text-align: center;
  color:#A66D00;
  font: 2.5em 'M PLUS Rounded 1c', sans-serif;
  text-transform: uppercase;
}
.pricingInfo span{
  font-size: 2em;
  color:white;
  position:relative;
  bottom:2em;
  text-transform: uppercase;
  width:80%;
  text-align: center;
}
.details{
  position:relative;
  bottom:14em;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  background-image: linear-gradient(to bottom, transparent, #A66D00);
}
.detailHeading{
  color:white;
  font-size: 2rem;
  text-shadow: #A66D00 2px 4px 4px;
  text-align: center;
  margin:0 0 5% 0;
  text-transform: uppercase;
  letter-spacing: .05em;
  width:100%;
  font-weight: bolder;
}
.detailHeading::first-letter{
  color:#0B5351;
  /* text-shadow:#092327 2px 4px 4px; */
  font-size:2.5rem;
}
.buttons{
  width:6em;
  background-color:#F3F6F9;
  color:#A66D00;
  height:2.2em;
  font-size: 1.25rem;
  opacity:.92;
  border-radius: 0.2em;
  cursor: pointer;
  text-align: center;
  padding: 2%;
}
.buttons:hover{
  background-color: #A66D00;
  color:#F3F6F9;
}
.active{
  background-color:#A66D00;
  transition: 0.5s ease background-color;
}

.overlay{
  display:none;
  position:fixed;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
}
.close-modal-btn{
  margin:0;
  color:#F3F6F9;
  opacity:0.7;
  text-transform: uppercase;
  
}
.modal{
  max-width:750px;
  height:400px;
  margin:auto;
  background-color:#0B5351;
  position:absolute;
  top: 0;
  bottom:0;
  left:4em;
  right:0;
}

#overlayRules{
  display:none;
  position:fixed;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
}
#close-modal-btn{
  margin:0;
  color:#F3F6F9;
  opacity:0.7;
  text-transform: uppercase;
  
}
#modalRules{
  max-width:1300px;
  height:700px;
  margin:auto;
  background-color:#0B5351;
  position:absolute;
  top: 0;
  bottom:0;
  left:0;
  right:0;
}
#heading{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
#heading > h3{
  margin:2% 0 0 2%;
}

#rules{
  font-size:2.01rem;
} 
.hide{
  opacity:0;
}
ol{
  font-size:1.1rem;
  line-height: 1.2em;
  letter-spacing: 0.1em;
  margin: 2% 5% 5% 5%;
  opacity:0.9;
  color:white;
  float:left;
}
.fade-in{
  animation-name: FadeIn;
  animation-duration: 3s;
  transition-timing-function: linear;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Committee Section */
/* #committee{
  position: absolute;
  bottom:7;
} */
.three{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  align-items: center;
  justify-content: space-evenly;
  margin:0 0 6% 0;
}
#committeeHeading{
  margin:2% 0 2% 0;
  color:#A66D00;
  font-size:2.5rem;
  text-shadow:none;
}
#committee > span{
  font-size:2rem;
  margin: 4% 0 0 0;
}
.team{
  width:33%;
  margin:-1% 0 0 0;
  padding:0;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  /* bottom:6em; */
}
.team img{
  height:27em;
  width:27em;
  margin:0;
  padding: 0;
  box-shadow: #C0BBB7 1px 2px 4px;
  border-radius: 350px;
}
.team:first-child{
  margin-bottom:0;
  height:458px;
}
.nameBox{
  width:17em;
  height:6em;
  color:#0B5351;
  text-shadow:#F3F6F9 1px 2px 2px;
  font-family:'Raleway', sans-serif;
}
.nameBox:first-child{
  bottom:4em;
}
.team span{
  display:block;
  text-align: center;
  padding-top:0.5em;
}
.name{
  font-size:1.1rem;
  font-family: 'Raleway' sans-serif;
  font-weight: bold;
}
.team span + span{
  font-size:1rem;
  margin:0;
  font-weight: bold;
  /* opacity:.95; */
  /* font-family:'M PLUS Rounded 1c', sans-serif; */
}
.notPictured{
  font-size: 1.25rem;
  margin:0;
}
.blankBox{
  height:24em;
  width:24em;
  margin:0;
  padding: 0;
  box-shadow: #C0BBB7 1px 2px 4px;
  border-radius:350px;
  background-color:#0B5351;
  display: flex;
  justify-content:center;
  align-items: flex-start;
  color:#F3F6F9;
}
.blankBox > span{
  color:#472f17;
}
#contact{
  background-color:#A66D00;
  color:white;
}

#contact > h3{
  color:white;
}
/* #contact > h4{
  font-size:5rem;
}
#contact > li{
  list-style-type:none;
}
/* Row */
#contact{
  padding-bottom: 1%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  justify-content: stretch;
  width:90%;
  opacity: 0.9;
}
h5{
  font-size: 1.75rem;
  color:#F3F6F9;
  margin-bottom: 2%;
}
.form{
  width: 45%;
  margin: 5% 5% -3% 5%;
  display: inline-block;
}
form {
  width:100%;
  margin:0;
  /* opacity:0.95; */
}
form input{
  width:47%;
  margin-bottom: 0.5%;
  height:2.5em;
  font-family:'Handlee', sans-serif;
  border-radius: 0.5em;
  border-color:#C0BBB7;
  border-width: 3px;
  font-size:1.15rem;
}
textarea{
  width: 94.5%;
  height:10em;
  font-family:'Handlee', sans-serif;
  color:black;
  border-radius: 0.5em;
  border-color:#C0BBB7;
  border-width: 3px;
  font-size: 1.15rem;
  margin-bottom:0;
}
.form li{
  list-style-type: none;
  display: inline;
  margin:0 0 0 10%;
}
.form li input{
  width:20%;
  margin:0;
  background-color:#A66D00;
  color:white;
  font:1.05rem 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: .5em;
  border:2px double #F3F6F9;
  cursor: pointer;
}
.form li input:hover{
  background-color: white;
  color:#A66D00;
  border-color: white;
}
.contactInfo{
  width:35%;
  display:inline-block;
  margin: 3% 5% -3% 0;
}
.contactBox{
  margin-bottom:5%;
  height:100%;
}
.contactBox h4{
  font-size:1.5rem;
  display: inline;
  color:white;
}
.contactBox p{
  font-size:1rem;
  border-bottom: 2px solid #F3F6F9;
  padding:3% 0 5% 0;
  color:white;
}
.contactBox p > a{
  color:#0B5351;
  font-weight: bold;
}
.contactBox img{
  width: 2.7em;
  height:1.8em;
  display: inline;
  padding-right: 2%;
}
.pop-out{
  transition: transform .5s;
}
.pop-out:hover
{
  -ms-transform: scale(1.25, 1.25);
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}
footer{
  background-color:#A66D00;
  color:#F3F6F9;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}
#copyright{
  font-weight: bold;
  font-size:1rem;
  /* margin:0; */
}
/*slideshow animations*/
* {box-sizing: border-box;}
.mySlides {display: none;}
/* img {vertical-align: middle;} */

/* Slideshow container */
.slideshow-container {
  max-width: 550px;
  position: relative;
  margin:0;
}
.mySlides fade > img{
  height:500px;
  border-radius: 0;
}
.mySlides img{
  box-shadow: #bbb 1px 2px 2px;
}
/* The dots/bullets/indicators */
.dot {
  height: 0.1px;
  width: 1px;
  margin: 0 1px;
  background-color: #bbb;
  border-radius: 50%;
  display: none;
  transition: background-color 0.6s ease;
  position:absolute;
  top:10em;
}

.active1 {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name:fade;
  animation-duration: .5s;
}

@keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}


@media all and (max-width: 480px) {
  body{
    background-color: #F3F6F9;
    height:auto;
    overflow-x: hidden;
  }
  #mySidenav {
    width:170px;
    display:none;

  }
  /*menu icon */
    #menuBG{
      background-color:#F3F6F9;
      margin: 0;
    }
    .navMenu{
      width: 35px;
      height: 5px;
      background-color:#A66D00;
      margin: 6px 0;
    }
    /*style nav bar*/
    .sidenav {
      width:170px; /* Set the width of the sidebar */
      height:46em;
      position: fixed; /* Fixed Sidebar (stay in place on scroll) */
      z-index: 1; /* Stay on top */
      top: 3.2em; /* Stay at the top */
      left: 0;
      overflow-x: hidden; /* Disable horizontal scroll */
      letter-spacing: 0.1em;
      opacity: .9;
    }
    /* The navigation menu links */
    .sidenav a {
      padding: 2% 5% 7% 2%;
      margin:0 1em;
      text-decoration: none;
      font-size:1.75em;
      color: white;
      display: block;
    }
    .home1{
      height:50px;
      margin:5% 0;
    }
    .home{
      height:50px;
    }
    #dove{
      width:5em;
    }
    #main {
      padding: 0;
      display:flex;
      flex-flow: column;
      width: 100%;
      margin:0;
      height:50em;
    }
  #home{
    height:50em;
  }
  #homeLogo{
    display:block;
    height:50em;
  }
  video{
    display:none;
  }
  h3{
    font-size: 2em;
  }
  .about{
    width:90%;
    font-size: 1.3em;
    line-height: 1.5em;
    margin-bottom: 1%;
  }
  button{
    border:2px solid #A66D00;
    border-radius: 2em;
    background:transparent;
    font-size:1em;
    border-radius: .5em;
    height:3em;
    width:8em;
    text-align: center;
    padding: 15px 25px;
    margin-bottom: 5%;
  }
  .readmore {
    color:#A66D00;
    font-size:1em;
    border:2px solid #A66D00;
    border-radius: .5em;
    height:3em;
    width:8em;
    text-align: center;
    padding: 1% 2%;
  }
  #address{
    background-color: #F3F6F9;
  }
  .mapouter{
    display:none;
  }
  .mapouter1{
    display:contents;
  }
  #address h3{
    display: none;
  }
  #pricing{
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height:20em;
    width:100%;
  }
  #pricingHeading{
    width:100%;
    height:12em;
    color:#A66D00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #pricingHeading > h3{
    font-size: 1.5rem;
    color:#A66D00;
  }
  #pricingHeading > h2{
    font-size: 1rem;
    color:#A66D00;
    
  }
  #plotPricing{
    display:contents;
    color:white;
    font-size:3rem;
    height:auto;
  }

  /* Slideshow container */
  .slideshow-container{
    display: none;
  }
  #rules{
    height:auto;
    width:100%;
    padding:2% 5% 4% 10%;
  }
  #rules > h3{
    margin-bottom:5%;
    width:100%;
  }
  ol{
    display:contents;
    width:80%;
    font-size:0.75rem;
    line-height: 1.4em;
    letter-spacing: 0.1em;
    margin: 10% 10% 5% 10%;
    opacity:0.9;
  }
  /*Committee Section */
  #committee{
    display:none;
  }
  .three{
    display:flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 90%;
    align-items: center;
    justify-content: center;
    margin:2% 0;
  }
  #committee h3{
    margin-bottom:3%;
  }
  .team{
    /* width:100%; */
    margin:0 0 1% 0;
    padding:0;
    display:hidden;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .team img{
    height:25em;
    width:20em;
    margin:0;
    padding: 0;
    box-shadow: #C0BBB7 1px 2px 4px;
    border-radius: 0.1em;
  }
  .nameBox{
    width:16em;
    height:6.5em;
    background-color:#472f17;
    color:white;
    /* margin-left:3em; */
    position:relative;
    bottom:4em;
    box-shadow: #C0BBB7 1px;
    border-radius: 0.5em;
    font-family: 'Handlee', sans-serif;
  }
  .team span{
    display:block;
    text-align: center;
    padding-top:0.5em;
    color:white;
    /* text-transform: uppercase;
    position:relative;
    bottom:2em; */
  }
  .name{
    font-size:1.1rem;
    font-family: 'M PLUS Rounded 1c', sans-serif;
  }
  .team span + span{
    font-size:1rem;
    margin:0;
    /* opacity:.95; */
    /* font-family:'M PLUS Rounded 1c', sans-serif; */
    }
  .blankBox{
    height:6em;
    width:19em;
    margin:0;
    padding: 0;
    box-shadow: #C0BBB7 1px 2px 4px;
    border-radius: 0.5em;
    background-color:#F3F6F9;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    color:#367588
  }
  .blankBox > span{
    color:#472f17;
  }
#contact{
  background-color:#A66D00;
  color:white;
  width:100%;
  height:8em;
}

#contact > h3{
  color:#A66D00;
}
/* #contact > h4{
  font-size:5rem;
}
#contact > li{
  list-style-type:none;
}
/* Row */
.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  justify-content: stretch;
  width:100%;
  height:auto;
}
.form{
  display:none;
}
.contactInfo{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 2% 0;
  height:5em;

}
.contactBox{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: flex-start;
}
.contactBox > section{
  width: 90%;
  margin:5% 0;
  display:flex;
  justify-content: center;
}
.contactBox h4{
  font-size:1.5rem;
  display: none;
  color:#A66D00;
}
.contactBox p{
  font-size:0.75rem;
  border-bottom: none;
  padding:3% 0 5% 0;
  color:white;
  font-family:Tahoma, sans-serif;
}
.contactBox p > a{
  color:white;
  font-weight: bold;
}
.contactBox img{
  width: 2em;
  height:1.8em;
  display: inline;
  padding-right: 2%;
}
.pop-out{
  transition: transform .5s;
}
.pop-out:hover
{
  -ms-transform: scale(1.25, 1.25);
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
}
footer{
  background-color:#F3F6F9;
  color:#A66D00;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
}
#copyright{
  font-weight: bold;
  font-size:1rem;
}
}
    /*make it a little accordion and then pull out